<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contenido/CSS/styles.css' %}">  
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="{% url "Principal" %}">Inicio</a></li>
            <li><a href="{% url "Curso" %}">Curso</a></li>
            <li><a href="{% url "Contacto" %}">Contacto</a></li>
        </ul>
    </nav>

    <!-- Cuerpo principal -->
    <main>
        {% block contenido %}
        <!-- Este es un bloque de contenido que se puede personalizar en cada página -->
        {% endblock contenido %}
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy;Copyright Estefanía 2024</p>
    </footer>
</body>
</html>
