{% extends "contenido/base.html" %}

{% block contenido %}
<h2>Formulario de contacto</h2>
<form class="contact-form">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" placeholder="Correo" required>
    </div>
    <div class="form-group">
        <label for="opciones">Opciones</label>
        <select id="opciones" name="opciones">
            <option>Cursos Python</option>
            <option>Cursos Django</option>
            <option>Cursos Big Data</option>
            <option>Cursos Kotlin</option>
            <option>Cursos Flutter</option>
        </select>
    </div>
    <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" placeholder="Escribe aquí" required></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>
{% endblock contenido %}
